.container {
    text-align: center;
}
#instructions {
    text-align: center;
}

h1 {
    font-size: 30px;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

button, div, form, input {
	margin: 8px;
}

.float {
    float: left;
}
